.sidebar {
  padding: 10px;
  top: 60px;
  background-color: #ffffff;

  .panel-default {
    border: 0;
    box-shadow: none;

    .panel-heading {
      background-color: transparent;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      padding: 0;

      .panel-title {
        background-color: #eeeeee;
        color: $primary-color;
        border-left: 3px solid $primary-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        padding: 15px 15px;
        @include transition(all 0.5s ease 0s);
        @include border-top-left-radius(2px);
        @include border-top-right-radius(2px);

        span.fa {
          float: right;
          text-align: center;
          font-size: 12px;
          min-width: inherit;
          color: $primary-color;
          @include transition(all 0.5s ease 0s);
        }
      }

      .collapsed {
        .panel-title {
          background-color: transparent;
          border-left: 3px solid transparent;
          color: #555555;

          span.fa {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            color: #999999;
          }
        }
      }
    }

    .panel-body {
      border-top: 0 !important;
      padding: 5px 0;
      background-color: #f9f9f9;
      @include border-bottom-left-radius(2px);
      @include border-bottom-right-radius(2px);

      .sidebar-menu {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          padding-left: 7px;

          a {
            padding: 12px 10px;
            display: block;
            color: #999999;
          }
        }

        li.active {
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .sidebar {
    .panel-default {
      .panel-heading {
        .panel-title {
          padding: 15px 5px;
        }
      }
    }
  }
}