<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true" use-expressions="true">

        <intercept-url pattern="/signIn" access="permitAll" />
        <intercept-url pattern="/signUp" access="isAuthenticated()" />
        <form-login login-page="/signIn" default-target-url="/" authentication-failure-url="/signIn"/>

        <session-management>
            <concurrency-control  expired-url="/sessiontimeout"/>
        </session-management>
        <csrf disabled="true" />
    </http>
    <authentication-manager>
<!--                <authentication-provider>-->
<!--                    <user-service>-->
<!--                        <user name="akila@gmail.com" password="$2a$09$BJfX8.olxV1a/g7PCKbO.u6Psamw0vgUXOk3WrUPizWttEf72Mcli" authorities="hasRole('ROLE_ADMIN')" />-->
<!--                    </user-service>-->
<!--                    <password-encoder ref="encoder" />-->
<!--                </authentication-provider>-->

<!--         authentication from database -->
        <authentication-provider>
            <jdbc-user-service data-source-ref="ds"
                               users-by-username-query="select username,password enabled from user where username=?"
                               authorities-by-username-query="Select username, concat('ROLE_', role)role from user where username=?" />
            <password-encoder ref="encoder" />
        </authentication-provider>


    </authentication-manager>

    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="11" />
    </beans:bean>


    <beans:import resource="spring-servlet.xml"/>
</beans:beans>