$primary-color: #B7264D;

$primary-color-dark: #842E62;

$secondary-color: #fcb831;

$secondary-color-dark: #F16623;

$navbar-color: #1f2532;

$navbar-color-dark: #1A1C21;

$navbar-link-color: #ffffff;

$dropdown-link-color: #646f82;

$dropdown-hover-color: #f5f5f5;

$background-color: #f1f1f1;

$background-color-dark: #ececec;

$border-color: #eeeeee;

$border-color-dark: #dddddd;

$heading-color: #ffffff;

